/*@test*/
@charset "utf-8";

@font-face {
  font-family: 'aui';
  /*IE*/
  src: url('../font/aui.eot');
  /*现代浏览器*/
  src:
    url('../font/aui.eot?#font-spider') format('embedded-opentype'),
    url('../font/aui.woff') format('woff'),
    url('../font/aui.ttf') format('truetype'),
    url('../font/aui.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'aui';
  /*IE*/
  src: url('../font/aui-b.eot');
  /*现代浏览器*/
  src:
    url('../font/aui-b.eot?#font-spider') format('embedded-opentype'),
    url('../font/aui-b.woff') format('woff'),
    url('../font/aui-b.ttf') format('truetype'),
    url('../font/aui-b.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'ft';
  src: url('../font/FZJT.eot');/*IE9 Compat Modes*/
  src:
    url('../font/FZJT.eot?#font-spider') format('embedded-opentype'),
    url('../font/FZJT.woff') format('woff'),
    url('../font/FZJT.ttf') format('truetype'),
    url('../font/FZJT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-weight: ft;
  font-family: inherit;
}

#content > h3 {
  font-family: 'aui', arial, sans-serif;
  font-weight: bold;
}
#content p strong {
  font-family: aui;
}

@media screen and (min-width: 48em) and (max-width: 64em) {
  #content p em {
    font-family: ft;
  }
}